<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Zimmer</title>
</head>
<body>
    <nav>
        <h3>Landhaus Auen</h3>
        <p>Zimmer</p>
        <p>Buchen</p>
    </nav>
    <div class="wohnraume">
        <div class="zimmer">
            <div class="text">
                <h2>Zimmer 1</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat commodi ab molestias debitis, corrupti dolor nulla aliquam! Saepe, quisquam maxime quae labore at voluptatum ipsam eum, consectetur delectus ea excepturi.</p>
            </div>
            <img src="../pictures/zimmer1.jpg" style="width: 100%; height: max-content;" alt="schrank">
        </div>
        <div class="zimmer zimmer2">
            <div class="text">
                <h2>Zimmer 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquid porro fugiat beatae ab? Officia voluptas et non cumque deserunt ipsum illo voluptatibus ad voluptates architecto suscipit, animi iusto. Corporis?</p>
            </div>
            <img src="../pictures/zimmer2.jpg" style="width: 100%; height: fit-content;" alt="bett">
        </div>
    </div>
</body>
</html>
