<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <title>Landhaus Auen</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <nav>
        <h3>Landhaus Auen</h3>
        <p>Zimmer</p>
        <p>Buchen</p>
    </nav>
    <div class="datePicker">
        <img src="pictures/haus.jpg" style="width: 100%; height: 50em;" alt="haus"></img>
        <!-- <div>
            <input class="rangePicker" type="date" placeholder="chose you're date">
        </div> -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>
